Repository wso2/carbon-identity-framework, changes with the owners that CODEOWNERS names for each.
All owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93, @mefarazath, @denuwanthi, @emswbandara, @janakamarasena, @Buddhimah, @dewniMW, @aaujayasena, @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe, @tharindu-bandara, @JKAUSHALYA, @madurangasiriwardena, @ashensw, @sarubi, @wijith7, @gayashanbc

Add missing import
  components/application-mgt/org.wso2.carbon.identity.application.common/pom.xml
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Add missing import
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/pom.xml
Owners: none

Fix test failure
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerAcrTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerClaimMappingsTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerClaimsTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerCustomFunctionsTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerExceptionRetryTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerLongWaitTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerNoJsTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/util/SessionNonceCookieUtilTest.java
  components/claim-mgt/org.wso2.carbon.identity.claim.metadata.mgt/pom.xml
  test-utils/org.wso2.carbon.identity.testutil/src/main/java/org/wso2/carbon/identity/common/testng/CarbonBasedTestListener.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Move authentication cache to tenant space
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationContextCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationContextCacheEntry.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationContextCacheKey.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationRequestCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationRequestCacheEntry.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationRequestCacheKey.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationResultCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationResultCacheEntry.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationResultCacheKey.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/LongWaitResultCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/LongWaitResultCacheEntry.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/LongWaitResultCacheKey.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/SessionContextCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/SessionContextCacheEntry.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/SessionContextCacheKey.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/inbound/IdentityContextCache.java
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/cache/BaseCache.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Fix test case
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerLongWaitTest.java
  test-utils/org.wso2.carbon.identity.testutil/src/main/java/org/wso2/carbon/identity/common/testng/CarbonBasedTestListener.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Move long wait cache to super tenant
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/LongWaitResultCache.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Disable DB persistence to test cache implementation
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationContextCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationRequestCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationResultCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/SessionContextCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/dao/impl/CacheBackedLongWaitStatusDAO.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Introduce System roles based console scopes config structure
  components/identity-core/org.wso2.carbon.identity.base/src/main/java/org/wso2/carbon/identity/base/IdentityConstants.java
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/util/IdentityUtil.java
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/RoleConstants.java
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/dao/RoleDAOImpl.java
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Create AuthenticationBaseCache
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationBaseCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationContextCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationRequestCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationResultCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/LongWaitResultCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/SessionContextCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/dao/LongWaitStatusDAO.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/inbound/IdentityContextCache.java
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/cache/BaseCache.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Avoid following redirects in API client
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/ApiClient.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Fix test case
  test-utils/org.wso2.carbon.identity.testutil/src/main/java/org/wso2/carbon/identity/common/testng/CarbonBasedTestListener.java
Owners: none

Move long wait cache to super tenant
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/LongWaitResultCache.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Move authentication cache to tenant space
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationContextCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationContextCacheEntry.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationContextCacheKey.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationRequestCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationRequestCacheEntry.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationRequestCacheKey.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationResultCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationResultCacheEntry.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationResultCacheKey.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/LongWaitResultCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/LongWaitResultCacheEntry.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/LongWaitResultCacheKey.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/SessionContextCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/SessionContextCacheEntry.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/SessionContextCacheKey.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/inbound/IdentityContextCache.java
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/cache/BaseCache.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Create AuthenticationBaseCache
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationBaseCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationContextCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationRequestCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationResultCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/LongWaitResultCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/SessionContextCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/inbound/IdentityContextCache.java
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/cache/BaseCache.java
  test-utils/org.wso2.carbon.identity.testutil/src/main/java/org/wso2/carbon/identity/common/testng/CarbonBasedTestListener.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Introduce System roles based console scopes config structure (#3505)
  components/identity-core/org.wso2.carbon.identity.base/src/main/java/org/wso2/carbon/identity/base/IdentityConstants.java
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/util/IdentityUtil.java
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/RoleConstants.java
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/dao/RoleDAOImpl.java
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Add unit test for authentication.framework.util(FrameworkUtils class)
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkUtilsTest.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Remove MultitenantUtils.getTenantAwareUsername from resolver method
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkUtils.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Add missing constructor for AuthenticationBaseCache
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/AuthenticationBaseCache.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Use IdentityTenantUtil to resolve tenant id and tenant name
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/cache/BaseCache.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Add unit test for authentication.framework.util(FrameworkUtils class)
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkUtilsTest.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Refactored the code
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkUtilsTest.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Rewrote test methods avoiding mocking
  components/application-mgt/org.wso2.carbon.identity.application.mgt/pom.xml
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/test/java/org/wso2/carbon/identity/application/mgt/ApplicationManagementServiceImplTest.java
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/test/resources/dbscripts/identity.sql
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/test/resources/repository/conf/carbon.xml
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/test/resources/repository/conf/identity/identity.xml
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Add IDN_FED_USER_TOTP_SECRET_KEY table
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/db2.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/h2.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/mssql.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/mysql-cluster.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/mysql.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/oracle.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/oracle_rac.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/postgresql.sql
Owners: none

Use IdentityTenantUtil to resolve tenant id and tenant name
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerAbstractTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerClaimMappingsTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerClaimsTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerCustomFunctionsTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerExceptionRetryTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerNoJsTest.java
  components/identity-core/org.wso2.carbon.identity.core/src/test/java/org/wso2/carbon/identity/core/cache/BaseCacheTest.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Changing the order of adding tenant context for webapps
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Add more unit tests for IdPManagementDAO
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/dao/IdPManagementDAOTest.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Add jacoco and surefire plugins to pom.xml
  components/idp-mgt/org.wso2.carbon.idp.mgt/pom.xml
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Add CopyRights for test files
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/dao/IdPManagementDAOTest.java
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/util/IdPManagementUtilTest.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Resolve build failures
  components/idp-mgt/org.wso2.carbon.idp.mgt/pom.xml
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/IdentityProviderManagementServiceTest.java
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/dao/IdPManagementDAOTest.java
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/util/IdPManagementUtilTest.java
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/resources/repository/conf/carbon.xml
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/resources/repository/conf/identity/identity.xml
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Seperate Test Methods, to Happy Path and Unhappy Path of the, IdPManagementDAOTest class.
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/dao/IdPManagementDAOTest.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Unit test cases for IdentityProviderManagementService Class
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/IdentityProviderManagementServiceTest.java
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/resources/repository.conf/carbon.xml
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/resources/repository.conf/identity/identity.xml
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/resources/testng.xml
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Add Unit Tests for IdPManagementDAO
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/IdentityProviderManagerTest.java
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/dao/IdPManagementDAOTest.java
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/resources/dbscripts/h2.sql
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Add minor changes
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/dao/IdPManagementDAOTest.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Remove unnecessary file
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/IdentityProviderManagerTest.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Update Code formatting
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/dao/IdPManagementDAOTest.java
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/util/IdPManagementUtilTest.java
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/resources/testng.xml
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Add Unit Tests for IdPManagementUtill
  components/idp-mgt/org.wso2.carbon.idp.mgt/pom.xml
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/java/org/wso2/carbon/idp/mgt/util/IdPManagementUtilTest.java
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/test/resources/testng.xml
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Refactored code
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/test/java/org/wso2/carbon/identity/application/mgt/ApplicationManagementServiceImplTest.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Minor changes
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/test/java/org/wso2/carbon/identity/application/mgt/ApplicationManagementServiceImplTest.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Refactored variable names
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/test/java/org/wso2/carbon/identity/application/mgt/ApplicationManagementServiceImplTest.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Refactored code
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/test/java/org/wso2/carbon/identity/application/mgt/ApplicationMgtUtilTest.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

CODEOWNERS:

# Code owners
/components/workflow-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-core @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-event @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/captcha-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/configuration-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/notification-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/claim-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/entitlement/    @mefarazath @denuwanthi @emswbandara @janakamarasena @Buddhimah @dewniMW @aaujayasena
/components/policy-editor/    @mefarazath @denuwanthi @emswbandara @janakamarasena @Buddhimah @dewniMW @aaujayasena
/components/authentication-framework    @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/functions-library-mgt   @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/security-mgt @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/carbon-authenticators   @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/consent-mgt @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/application-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/template-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/idp-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/directory-server-manager @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe

# Codeowners for user components.
/components/user-mgt @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc
/components/user-store @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc
/components/provisioning @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc
