Repository wso2/carbon-identity-framework, changes with the owners that CODEOWNERS names for each.
All owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93, @mefarazath, @denuwanthi, @emswbandara, @janakamarasena, @Buddhimah, @dewniMW, @aaujayasena, @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe, @tharindu-bandara, @JKAUSHALYA, @madurangasiriwardena, @ashensw, @sarubi, @wijith7, @gayashanbc

CODEOWNERS:

# Code owners
/components/workflow-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-core @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-event @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/captcha-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/configuration-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/notification-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/claim-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/entitlement/    @mefarazath @denuwanthi @emswbandara @janakamarasena @Buddhimah @dewniMW @aaujayasena
/components/policy-editor/    @mefarazath @denuwanthi @emswbandara @janakamarasena @Buddhimah @dewniMW @aaujayasena
/components/authentication-framework    @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/functions-library-mgt   @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/security-mgt @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/carbon-authenticators   @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/consent-mgt @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/application-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/template-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/idp-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/directory-server-manager @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe

# Codeowners for user components.
/components/user-mgt @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc
/components/user-store @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc
/components/provisioning @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc

Fix issue in unselecting all roles.
  components/user-mgt/org.wso2.carbon.user.mgt.ui/src/main/resources/web/user/edit-user-roles-finish-ajaxprocessor.jsp
Owners: @tharindu-bandara, @JKAUSHALYA, @madurangasiriwardena, @ashensw, @sarubi, @wijith7, @gayashanbc

Handle requests with invalid sessionDataKey values as invalid client requests
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/exception/ClientException.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultRequestCoordinator.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Handle requests with invalid sessionDataKey values as invalid client requests
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/exception/ClientException.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultRequestCoordinator.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Handle requests with invalid sessionDataKey values as invalid client requests
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultRequestCoordinator.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Added experimen tal code to move Javascript engine to GraalJS
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/pom.xml
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/JsGraphBuilder.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/JsGraphBuilderFactory.java
  pom.xml
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Added experimen tal code to move Javascript engine to GraalJS
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/AuthenticationDecisionEvaluator.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/AuthenticationGraph.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/DynamicDecisionNode.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/JsBaseGraphBuilder.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/JsGraphBuilderFactory.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/JsNashornGraphBuilder.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/JsNashornGraphBuilderFactory.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/JsPolyglotGraphBuilder.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/JsPolyglotGraphBuilderFactory.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/SerializableJsFunction.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/ShowPromptNode.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/graal/AbstractJSContextMemberObject.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/graal/AbstractJSObjectWrapper.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/graal/GraalJsAuthenticatedUser.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/graal/GraalJsAuthenticationContext.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/graal/GraalJsClaims.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/graal/GraalJsStep.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/graal/GraalJsSteps.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/graal/GraalSerializableJsFunction.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/js/JsSteps.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/js/NashornJsAuthenticationContext.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/nashorn/NashornSerializableJsFunction.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandler.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/graal/SelectAcrFromFunction.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/graal/SelectOneFunction.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/internal/FrameworkServiceComponent.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/internal/FrameworkServiceDataHolder.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkUtils.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/JsNashornGraphBuilderTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/JsPolyglotGraphBuilderTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/config/model/graph/js/NashornJsAuthenticationContextTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerAbstractTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerClaimMappingsTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerCustomFunctionsTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerExceptionRetryTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerLongWaitTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/GraphBasedSequenceHandlerNoJsTest.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/resources/testng.xml
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Read issuer & jwksendpoint from filebased config.
  components/application-mgt/org.wso2.carbon.identity.application.common/src/main/java/org/wso2/carbon/identity/application/common/model/IdentityProvider.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Make SP name javascript regex configurable
  components/application-mgt/org.wso2.carbon.identity.application.mgt.ui/src/main/java/org/wso2/carbon/identity/application/mgt/ui/util/ApplicationMgtUIUtil.java
  components/application-mgt/org.wso2.carbon.identity.application.mgt.ui/src/main/resources/web/application/add-service-provider.jsp
  components/application-mgt/org.wso2.carbon.identity.application.mgt.ui/src/main/resources/web/application/configure-service-provider.jsp
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Add Confirmation Code Cleanup scripts
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/mssql/confirmation-code-cleanup/mssql-confirmation-code-cleanup-restore.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/mssql/confirmation-code-cleanup/mssql-confirmation-code-cleanup.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/mysql/confirmation-code-cleanup/mysql-confirmation-code-cleanup-restore.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/mysql/confirmation-code-cleanup/mysql-confirmation-code-cleanup.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/oracle/confirmation-code-cleanup/oracle-confirmation-code-cleanup-restore.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/oracle/confirmation-code-cleanup/oracle-confirmation-code-cleanup.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/postgresql/postgre-11x/confirmation-code-cleanup/postgresql_11-confirmation-code-cleanup-restore.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/postgresql/postgre-11x/confirmation-code-cleanup/postgresql_11-confirmation-code-cleanup.sql
Owners: none

Fix issue in filtering wso2carbon-local-sp from API response
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/main/java/org/wso2/carbon/identity/application/mgt/dao/impl/ApplicationDAOImpl.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Prevent returning wso2carbon-local-sp from Application Management REST API response
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/main/java/org/wso2/carbon/identity/application/mgt/ApplicationMgtDBQueries.java
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/main/java/org/wso2/carbon/identity/application/mgt/dao/impl/ApplicationDAOImpl.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Introduce configuration for primary login identifire
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Add session context identifier for authentication result and add api for updating session context
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultAuthenticationRequestHandler.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkUtils.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Temporary fix
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/cache/SessionContextCache.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/SessionDataStore.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkUtils.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

redis-initialization
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/pom.xml
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/SessionDataStore.java
  pom.xml
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Use Access URL as the redirect URL for invalidated login pages
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkUtils.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/LoginContextManagementUtil.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Add session context identifier for authentication result
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultAuthenticationRequestHandler.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

blob object retrieval working
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/SessionDataStore.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Unify the username column size of WF_BPS_PROFILE to be 100 in dpscripts
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/db2.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/h2.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/mssql.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/mysql-cluster.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/mysql.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/oracle.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/oracle_rac.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/postgresql.sql
Owners: none

code formatted & JDBC code cleaned
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/SessionDataStore.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Fix issue where stream get closed in MsSQL
  components/configuration-mgt/org.wso2.carbon.identity.configuration.mgt.core/src/main/java/org/wso2/carbon/identity/configuration/mgt/core/dao/impl/ConfigurationDAOImpl.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

enable internal login user to access the /api/server/v1/configs endpoint
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Fix file insertion with PosgreSQL
  components/configuration-mgt/org.wso2.carbon.identity.configuration.mgt.core/src/main/java/org/wso2/carbon/identity/configuration/mgt/core/dao/impl/ConfigurationDAOImpl.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Add missing class
  components/configuration-mgt/org.wso2.carbon.identity.configuration.mgt.core/src/main/java/org/wso2/carbon/identity/configuration/mgt/core/dao/impl/ConfigurationDAOImpl.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Use Access URL as the redirect URL for invalidated login pages
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkConstants.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkUtils.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/LoginContextManagementUtil.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Fix listing resources
  components/configuration-mgt/org.wso2.carbon.identity.configuration.mgt.core/src/main/java/org/wso2/carbon/identity/configuration/mgt/core/dao/impl/ConfigurationDAOImpl.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Replicate the configuration change in #018d6ba to identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
Owners: none

Redis,RDMS both support is added to the session store
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/SessionDataStore.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Update formatting
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkConstants.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Redis and RDBMS support added
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/SessionDataStore.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

redis-initialization
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/pom.xml
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/SessionDataStore.java
  pom.xml
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Issue 5365: rename cookie for manage multi tenant session
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultAuthenticationRequestHandler.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultRequestCoordinator.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkUtils.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Redis and JDBC support is added to session store
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/SessionDataStore.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Fix invalid callback URL error for custom URL schemes.
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/IdentityManagementEndpointUtil.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Redis and JDBC support is given
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/SessionDataStore.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Remove checks for SAML Fed IdP
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultAuthenticationRequestHandler.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/step/impl/DefaultStepHandler.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Handle JIT provisioning when user operation workflows are defined
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/provisioning/impl/DefaultProvisioningHandler.java
  components/workflow-mgt/org.wso2.carbon.identity.workflow.mgt/src/main/java/org/wso2/carbon/identity/workflow/mgt/exception/WorkflowException.java
  components/workflow-mgt/org.wso2.carbon.identity.workflow.mgt/src/main/java/org/wso2/carbon/identity/workflow/mgt/util/WorkflowErrorConstants.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Add a default regex to mobile claim
  features/claim-mgt/org.wso2.carbon.claim.mgt.server.feature/resources/conf/claim-config.xml
Owners: none

Incoperate code expiration detail.
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/CodeIntrospectResponse.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

JIT Provisioning able to update local claim value to null/empty on the external claim update
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/claims/impl/DefaultClaimHandler.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/provisioning/impl/DefaultProvisioningHandler.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/DefaultStepBasedSequenceHandler.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkConstants.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan
