Repository wso2/carbon-identity-framework, changes with the owners that CODEOWNERS names for each.
All owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93, @mefarazath, @denuwanthi, @emswbandara, @janakamarasena, @Buddhimah, @dewniMW, @aaujayasena, @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe, @tharindu-bandara, @JKAUSHALYA, @madurangasiriwardena, @ashensw, @sarubi, @wijith7, @gayashanbc

CODEOWNERS:

# Code owners
/components/workflow-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-core @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-event @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/captcha-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/configuration-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/notification-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/claim-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/entitlement/    @mefarazath @denuwanthi @emswbandara @janakamarasena @Buddhimah @dewniMW @aaujayasena
/components/policy-editor/    @mefarazath @denuwanthi @emswbandara @janakamarasena @Buddhimah @dewniMW @aaujayasena
/components/authentication-framework    @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/functions-library-mgt   @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/security-mgt @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/carbon-authenticators   @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/consent-mgt @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/application-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/template-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/idp-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/directory-server-manager @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe

# Codeowners for user components.
/components/user-mgt @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc
/components/user-store @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc
/components/provisioning @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc

Block Internal system roles from role assigning view of the users
  components/user-mgt/org.wso2.carbon.user.mgt/src/main/java/org/wso2/carbon/user/mgt/UserRealmProxy.java
Owners: @tharindu-bandara, @JKAUSHALYA, @madurangasiriwardena, @ashensw, @sarubi, @wijith7, @gayashanbc

[Public]Remove carbondb selection in token cleanup scripts
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/mysql/token-cleanup/mysql-token-cleanup-restore.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/mysql/token-cleanup/mysql-token-cleanup.sql
Owners: none

Fix syntax error while searching roles in oracle db
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/dao/SQLQueries.java
Owners: none

Adding cache clearing to application template delete scenario
  components/configuration-mgt/org.wso2.carbon.identity.configuration.mgt.core/src/main/java/org/wso2/carbon/identity/configuration/mgt/core/dao/impl/CachedBackedConfigurationDAO.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Fix https://github.com/wso2/product-is/issues/10378
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Fix https://github.com/wso2/product-is/issues/10378 (#3244)
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

OIDC Federated Authenticator configs set to always be overwritten in tenant qualified url mode. (#3240)
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/main/java/org/wso2/carbon/idp/mgt/IdentityProviderManager.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Add country to scim2 extension schema claims
  features/claim-mgt/org.wso2.carbon.claim.mgt.server.feature/resources/conf/claim-config.xml
Owners: none

Internal/everyone role skip removed when listing roles.
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/dao/RoleDAOImpl.java
Owners: none

Improve cache clearing on resource update and delete
  components/configuration-mgt/org.wso2.carbon.identity.configuration.mgt.core/src/main/java/org/wso2/carbon/identity/configuration/mgt/core/dao/impl/CachedBackedConfigurationDAO.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Fix error that occurs when updating a SP whose owner does not exist
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/main/java/org/wso2/carbon/identity/application/mgt/ApplicationMgtUtil.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Fix formatting error
  components/configuration-mgt/org.wso2.carbon.identity.configuration.mgt.core/src/main/java/org/wso2/carbon/identity/configuration/mgt/core/dao/impl/CachedBackedConfigurationDAO.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Fix federated role remove issue. (#3002)
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/provisioning/impl/DefaultProvisioningHandler.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Update README.MD (#3057)
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/oracle/README.MD
Owners: none

Disable mutualTLSAuthenticator in deployment.toml config (#3030)
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Fix PR comments on - https://github.com/wso2/carbon-identity-framework/pull/1999 (#3100)
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/dao/SAMLSSOServiceProviderDAO.java
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/model/SAMLSSOServiceProviderDO.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Add OIDC scopes & remote fetch SBAC configs
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Remove extra blank lines
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/oracle/sessiondata-cleanup/oracle-sessiondata-cleanup.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/postgresql/postgre-11x/sessiondata-cleanup/postgresql_11-session-data-cleanup.sql
Owners: none

Issue-4826: changed the error message to <Resident IdP Idle Session Timeout must be a numeric value greater than 0 and cannot be empty>
  components/idp-mgt/org.wso2.carbon.idp.mgt.ui/src/main/resources/web/idpmgt/idp-mgt-edit-local.jsp
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Unused private method removed.
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/dao/RoleDAOImpl.java
Owners: none

Add self app related configs
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Change default to extend refresh token expiry on renewal
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Remove unncessary changes
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Add 'HEAD' method to be allowed.
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Change tenant permissions (#3123)
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Add IdentityOAuthEventHandler config and remove userAccountStateUsername threadlocal constant
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/util/IdentityCoreConstants.java
  features/identity-event/org.wso2.carbon.identity.event.server.feature/resources/identity-event.properties
  features/identity-event/org.wso2.carbon.identity.event.server.feature/resources/org.wso2.carbon.identity.event.server.feature.default.json
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Remove enable property
  features/identity-event/org.wso2.carbon.identity.event.server.feature/resources/identity-event.properties
  features/identity-event/org.wso2.carbon.identity.event.server.feature/resources/org.wso2.carbon.identity.event.server.feature.default.json
Owners: none

Update identity-event.properties
  features/identity-event/org.wso2.carbon.identity.event.server.feature/resources/identity-event.properties
Owners: none

Add IdentityOAuthEventHandler and remove UserAccountStateWithUsername constant (#3250)
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/util/IdentityCoreConstants.java
  features/identity-event/org.wso2.carbon.identity.event.server.feature/resources/identity-event.properties
  features/identity-event/org.wso2.carbon.identity.event.server.feature/resources/org.wso2.carbon.identity.event.server.feature.default.json
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Handle error scenario in 10477
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/dao/RoleDAOImpl.java
Owners: none

Handle error scenario in 10477 (#3252)
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/dao/RoleDAOImpl.java
Owners: none

Add configs to disable refresh token expiry time extension on refresh token renewal (#3225)
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Update README.md
  README.md
Owners: none

Add configuration for userOperationDataDASPublisher
  features/identity-event/org.wso2.carbon.identity.event.server.feature/resources/identity-event.properties
  features/identity-event/org.wso2.carbon.identity.event.server.feature/resources/org.wso2.carbon.identity.event.server.feature.default.json
Owners: none

Add resend confirmation reCaptcha configuration
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Remove version label from myaccount
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Update system application config elements.
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Update allowed userstores config elements.
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Adding support to remove permissions
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/dao/RoleDAOImpl.java
Owners: none

Disable enable_per_user_functionality_locking feature.
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none
