Repository wso2/carbon-identity-framework, changes with the owners that CODEOWNERS names for each.
All owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93, @mefarazath, @denuwanthi, @emswbandara, @janakamarasena, @Buddhimah, @dewniMW, @aaujayasena, @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe, @tharindu-bandara, @JKAUSHALYA, @madurangasiriwardena, @ashensw, @sarubi, @wijith7, @gayashanbc

Add support for maria db
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/main/java/org/wso2/carbon/identity/application/mgt/ApplicationConstants.java
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/main/java/org/wso2/carbon/identity/application/mgt/dao/impl/ApplicationDAOImpl.java
  components/application-mgt/org.wso2.carbon.identity.application.mgt/src/main/java/org/wso2/carbon/identity/application/mgt/util/JdbcUtils.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/SessionDataStore.java
  components/configuration-mgt/org.wso2.carbon.identity.configuration.mgt.core/src/main/java/org/wso2/carbon/identity/configuration/mgt/core/constant/ConfigurationConstants.java
  components/configuration-mgt/org.wso2.carbon.identity.configuration.mgt.core/src/main/java/org/wso2/carbon/identity/configuration/mgt/core/dao/impl/ConfigurationDAOImpl.java
  components/configuration-mgt/org.wso2.carbon.identity.configuration.mgt.core/src/main/java/org/wso2/carbon/identity/configuration/mgt/core/util/JdbcUtils.java
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/persistence/IdentityDBInitializer.java
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/main/java/org/wso2/carbon/idp/mgt/dao/IdPManagementDAO.java
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/RoleConstants.java
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/dao/RoleDAOImpl.java
  components/template-mgt/org.wso2.carbon.identity.template.mgt/src/main/java/org/wso2/carbon/identity/template/mgt/TemplateMgtConstants.java
  components/template-mgt/org.wso2.carbon.identity.template.mgt/src/main/java/org/wso2/carbon/identity/template/mgt/util/JdbcUtils.java
  components/workflow-mgt/org.wso2.carbon.identity.workflow.mgt/src/main/java/org/wso2/carbon/identity/workflow/mgt/dao/WorkflowRequestDAO.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe, @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Add capability to configure retry from authenticator level when an adaptive script is configured
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/AbstractApplicationAuthenticator.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/java/org/wso2/carbon/identity/application/authentication/framework/AbstractApplicationAuthenticatorTest.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Full permission tree check added when setting all permissions by an a non super-admin user.
  components/user-mgt/org.wso2.carbon.user.mgt/src/main/java/org/wso2/carbon/user/mgt/UserRealmProxy.java
Owners: @tharindu-bandara, @JKAUSHALYA, @madurangasiriwardena, @ashensw, @sarubi, @wijith7, @gayashanbc

Logged in user permissions checked when setting admin/super admin permissions to another user.
  components/user-mgt/org.wso2.carbon.user.mgt/src/main/java/org/wso2/carbon/user/mgt/UserRealmProxy.java
Owners: @tharindu-bandara, @JKAUSHALYA, @madurangasiriwardena, @ashensw, @sarubi, @wijith7, @gayashanbc

Add configs to enable account lock/unlock notification during forced password reset
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Redundant tenant flow initiation removed.
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/dao/RoleDAOImpl.java
Owners: none

Introduce template to add custom CacheManager with Cache configs, and to add custom GrantTypeValidatorImplClass to default grant types when required
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

readability increased
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.endpoint.util/src/main/java/org/wso2/carbon/identity/application/authentication/endpoint/util/AuthContextAPIClient.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

readability increased
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.endpoint.util/src/main/java/org/wso2/carbon/identity/application/authentication/endpoint/util/AuthContextAPIClient.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Handle adding existing claim dialect URI
  components/claim-mgt/org.wso2.carbon.identity.claim.metadata.mgt/src/main/java/org/wso2/carbon/identity/claim/metadata/mgt/ClaimMetadataManagementServiceImpl.java
  components/claim-mgt/org.wso2.carbon.identity.claim.metadata.mgt/src/main/java/org/wso2/carbon/identity/claim/metadata/mgt/util/ClaimConstants.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Add support to configure 'cross-tenant' at deployment.toml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Refactoring static imports
  components/claim-mgt/org.wso2.carbon.identity.claim.metadata.mgt/src/main/java/org/wso2/carbon/identity/claim/metadata/mgt/ClaimMetadataManagementServiceImpl.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Addressing comments
  components/claim-mgt/org.wso2.carbon.identity.claim.metadata.mgt/src/main/java/org/wso2/carbon/identity/claim/metadata/mgt/ClaimMetadataManagementServiceImpl.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Add role cache clearing
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/pom.xml
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/dao/RoleDAOImpl.java
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/internal/RoleManagementServiceComponent.java
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/main/java/org/wso2/carbon/identity/role/mgt/core/internal/RoleManagementServiceComponentHolder.java
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/test/java/org/wso2/carbon/identity/role/mgt/core/dao/RoleDAOTest.java
Owners: none

Changes for remove the error log while account got locked.
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/step/impl/DefaultStepHandler.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Remove unwanted API client codes related to resend
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/api/PasswordRecoveryApiV1.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/ConfirmRequest.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/ResendConfirmationCodeResponse.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/ResendConfirmationRequest.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/ResetCodeResponse.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Format method comments.
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/IdentityManagementEndpointUtil.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/api/PasswordRecoveryApiV1.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Add notification based password recovery API support to recovery endpoint
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/IdentityManagementEndpointConstants.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/IdentityManagementEndpointUtil.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/ApiClient.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/api/PasswordRecoveryApiV1.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/APICall.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/AccountRecoveryType.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/ConfirmRequest.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/PasswordResetResponse.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/RecoveryChannel.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/RecoveryChannelInformation.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/RecoveryInitRequest.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/RecoveryRequest.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/RecoveryResponse.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/ResendConfirmationCodeResponse.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/ResendConfirmationRequest.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/ResetCodeResponse.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/ResetRequest.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Remove unwanted fie and method
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/api/PasswordRecoveryApiV1.java
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/model/passwordrecovery/v1/ResetRequest.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Format comments
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/api/PasswordRecoveryApiV1.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

readability increased
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.endpoint.util/src/main/java/org/wso2/carbon/identity/application/authentication/endpoint/util/AuthContextAPIClient.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

readability increased
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.endpoint.util/src/main/java/org/wso2/carbon/identity/application/authentication/endpoint/util/AuthContextAPIClient.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Returning client error when trying to delete a read-only template
  components/template-mgt/org.wso2.carbon.identity.template.mgt/src/main/java/org/wso2/carbon/identity/template/mgt/TemplateMgtConstants.java
  components/template-mgt/org.wso2.carbon.identity.template.mgt/src/main/java/org/wso2/carbon/identity/template/mgt/handler/impl/CacheBackedConfigStoreBasedTemplateHandler.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Override Console & MyAccount version label
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Revert MyAccount UI version label override
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Add templated configs for IdentityUserMetadatMgtHandler
  components/identity-event/org.wso2.carbon.identity.event/src/main/java/org/wso2/carbon/identity/event/IdentityEventConstants.java
  features/identity-event/org.wso2.carbon.identity.event.server.feature/resources/identity-event.properties
  features/identity-event/org.wso2.carbon.identity.event.server.feature/resources/org.wso2.carbon.identity.event.server.feature.default.json
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Add templated configs for IdentityUserMetadatMgtHandler (#3204)
  components/identity-event/org.wso2.carbon.identity.event/src/main/java/org/wso2/carbon/identity/event/IdentityEventConstants.java
  features/identity-event/org.wso2.carbon.identity.event.server.feature/resources/identity-event.properties
  features/identity-event/org.wso2.carbon.identity.event.server.feature/resources/org.wso2.carbon.identity.event.server.feature.default.json
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Fix the issue of failing concurrent SSO requests with primary key violation
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultAuthenticationRequestHandler.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/UserSessionStore.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Fix https://github.com/wso2/product-is/issues/9966
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Add Missing templated values in RecoveryEndpointConfig.properties
  features/authentication-framework/org.wso2.carbon.identity.application.authentication.framework.server.feature/resources/org.wso2.carbon.identity.application.authentication.framework.server.feature.default.json
  features/identity-mgt/org.wso2.carbon.identity.mgt.server.feature/resources/RecoveryEndpointConfig.properties.j2
Owners: none

Fix https://github.com/wso2/product-is/issues/9966 (#3206)
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Fix https://github.com/wso2/product-is/issues/8878
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/internal/DefaultServiceURLBuilder.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Fix https://github.com/wso2/product-is/issues/8878
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/ServiceURL.java
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/internal/DefaultServiceURLBuilder.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Fix test failure
  components/identity-core/org.wso2.carbon.identity.core/src/test/java/org/wso2/carbon/identity/core/internal/DefaultServiceURLBuilderTest.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Fix DefaultServiceURLBuilder uses proxy port when building internal server URL issue. (#3208)
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/ServiceURL.java
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/internal/DefaultServiceURLBuilder.java
  components/identity-core/org.wso2.carbon.identity.core/src/test/java/org/wso2/carbon/identity/core/internal/DefaultServiceURLBuilderTest.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Update method comment
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/UserSessionStore.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Adding tenant qualified support
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/src/main/java/org/wso2/carbon/identity/mgt/endpoint/util/client/SelfRegistrationMgtClient.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Restrict http methods for selfreg confirmation
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Add UserAccountStateWithUsername constant
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/util/IdentityCoreConstants.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Adding application resource id
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/dao/impl/UserSessionDAOImpl.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/model/Application.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/SQLQueries.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

CODEOWNERS:

# Code owners
/components/workflow-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-core @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-event @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/captcha-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/configuration-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/notification-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/claim-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/entitlement/    @mefarazath @denuwanthi @emswbandara @janakamarasena @Buddhimah @dewniMW @aaujayasena
/components/policy-editor/    @mefarazath @denuwanthi @emswbandara @janakamarasena @Buddhimah @dewniMW @aaujayasena
/components/authentication-framework    @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/functions-library-mgt   @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/security-mgt @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/carbon-authenticators   @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/consent-mgt @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/application-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/template-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/idp-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/directory-server-manager @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe

# Codeowners for user components.
/components/user-mgt @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc
/components/user-store @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc
/components/provisioning @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc
