Repository wso2/carbon-identity-framework, changes with the owners that CODEOWNERS names for each.
All owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93, @mefarazath, @denuwanthi, @emswbandara, @janakamarasena, @Buddhimah, @dewniMW, @aaujayasena, @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe, @tharindu-bandara, @JKAUSHALYA, @madurangasiriwardena, @ashensw, @sarubi, @wijith7, @gayashanbc

Update components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/util/IdentityConfigParser.java
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/util/IdentityConfigParser.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Address PR review comments
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/util/IdentityUtil.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Address PR review Comments
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Address PR review Comments
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/resources/repository/conf/identity/identity.xml
  components/role-mgt/org.wso2.carbon.identity.role.mgt.core/src/test/resources/repository/conf/identity/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Update Yahoo UserInfo Endpoint
  components/application-mgt/org.wso2.carbon.identity.application.common/src/main/java/org/wso2/carbon/identity/application/common/util/IdentityApplicationConstants.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/resources/org/wso2/carbon/identity/application/authentication/framework/config/builder/application-authentication-multi-chain.xml
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/resources/org/wso2/carbon/identity/application/authentication/framework/config/builder/application-authentication-multi-step-1.xml
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/resources/org/wso2/carbon/identity/application/authentication/framework/handler/sequence/impl/application-authentication-GraphStepHandlerTest.xml
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/test/resources/org/wso2/carbon/identity/application/authentication/framework/handler/step/impl/application-authentication-AdaptiveStepHandlerTest.xml
  features/authentication-framework/org.wso2.carbon.identity.application.authentication.framework.server.feature/resources/application-authentication.xml
  features/authentication-framework/org.wso2.carbon.identity.application.authentication.framework.server.feature/resources/org.wso2.carbon.identity.application.authentication.framework.server.feature.default.json
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe, @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Update Yahoo UserInfo Endpoint
  components/application-mgt/org.wso2.carbon.identity.application.common/src/main/java/org/wso2/carbon/identity/application/common/util/IdentityApplicationConstants.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Update Yahoo UserInfo Endpoint
  components/application-mgt/org.wso2.carbon.identity.application.common/src/main/java/org/wso2/carbon/identity/application/common/util/IdentityApplicationConstants.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Add configs related to auto login feature
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Improve TokenPersistenceProcessor conguration template
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Add support to publish the active session count if configured
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultAuthenticationRequestHandler.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultLogoutRequestHandler.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/SQLQueries.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/store/UserSessionStore.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkConstants.java
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkUtils.java
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Revert "Improve TokenPersistenceProcessor configuration template"
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Resolve formatting issues and other comments
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/main/java/org/wso2/carbon/idp/mgt/IdentityProviderManager.java
  components/idp-mgt/org.wso2.carbon.idp.mgt/src/main/java/org/wso2/carbon/idp/mgt/util/MetadataConverter.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Update Apache poi to 3.17.0.wso2v1.
  components/user-mgt/org.wso2.carbon.user.mgt/pom.xml
  pom.xml
Owners: @tharindu-bandara, @JKAUSHALYA, @madurangasiriwardena, @ashensw, @sarubi, @wijith7, @gayashanbc

Fix CORS schema issues
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/test/resources/dbscripts/config/h2.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/db2.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/h2.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/mssql.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/mysql-cluster.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/mysql.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/oracle.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/oracle_rac.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/postgresql.sql
Owners: none

Update Apache HttpComponents HttpClient version.
  pom.xml
Owners: none

fix wso2/product-is#9554
  components/application-mgt/org.wso2.carbon.identity.application.common/src/main/java/org/wso2/carbon/identity/application/common/model/User.java
Owners: @thanujalk, @omindu, @nilasini, @pamodaaw, @sachiniWettasinghe, @ShanikaWickramasinghe

Change tenant permissions
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Skip session termination at password update
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/internal/impl/UserSessionManagementServiceImpl.java
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Fix the issue with posgresql cors script
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/postgresql.sql
Owners: none

Fix the MSSQL scripts for Configuration Management Service
  components/configuration-mgt/org.wso2.carbon.identity.configuration.mgt.core/src/main/java/org/wso2/carbon/identity/configuration/mgt/core/constant/SQLConstants.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Make enable property of the event listeners configurable.
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: none

Fix OIDC session management configs not getting reflected from deployment.toml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Fix wso2/product-is#9531: SaaS app authentication with tenant qualified URLs
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/util/FrameworkUtils.java
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/util/IdentityCoreConstants.java
  components/identity-core/org.wso2.carbon.identity.core/src/main/java/org/wso2/carbon/identity/core/util/IdentityTenantUtil.java
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Fix oracle issue
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/oracle.sql
Owners: none

[Improvement] Extending the expiry time of commonAuth Cookie
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultAuthenticationRequestHandler.java
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Addressing comments
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultAuthenticationRequestHandler.java
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan

Improving config paths
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/src/main/java/org/wso2/carbon/identity/application/authentication/framework/handler/request/impl/DefaultAuthenticationRequestHandler.java
  components/identity-core/org.wso2.carbon.identity.base/src/main/java/org/wso2/carbon/identity/base/IdentityConstants.java
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Fix postgresql issue
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/main/java/org/wso2/carbon/identity/cors/mgt/core/constant/SQLQueries.java
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/main/java/org/wso2/carbon/identity/cors/mgt/core/dao/impl/CORSOriginDAOImpl.java
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/test/java/org/wso2/carbon/identity/cors/mgt/core/test/CORSManagementServiceTests.java
Owners: none

Add mssql session cleaup script.
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/stored-procedures/mssql/sessiondata-cleanup/mssql-session-data-cleanup.sql
Owners: none

Fix oracle issue
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/main/java/org/wso2/carbon/identity/cors/mgt/core/constant/SQLQueries.java
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/main/java/org/wso2/carbon/identity/cors/mgt/core/dao/impl/CORSOriginDAOImpl.java
Owners: none

Change jstl to taglibs-standard-impl.
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.endpoint.util/pom.xml
  components/authentication-framework/org.wso2.carbon.identity.application.authentication.framework/pom.xml
  components/identity-mgt/org.wso2.carbon.identity.mgt.endpoint.util/pom.xml
  pom.xml
Owners: @pulasthi7, @DMHP, @Kanapriya, @Abilashini, @senthalan, @piraveena, @thushaaanthan, @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Fix conventions
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/main/java/org/wso2/carbon/identity/cors/mgt/core/constant/SchemaConstants.java
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/main/java/org/wso2/carbon/identity/cors/mgt/core/dao/impl/CORSOriginDAOImpl.java
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/test/java/org/wso2/carbon/identity/cors/mgt/core/test/CORSManagementServiceTests.java
Owners: none

Add Event Listener config for BasicAuthClientAuthenticator
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/identity.xml.j2
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/org.wso2.carbon.identity.core.server.feature.default.json
Owners: none

Revert "Fix postgresql and oracle issues"
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/main/java/org/wso2/carbon/identity/cors/mgt/core/constant/SQLQueries.java
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/main/java/org/wso2/carbon/identity/cors/mgt/core/constant/SchemaConstants.java
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/main/java/org/wso2/carbon/identity/cors/mgt/core/dao/impl/CORSOriginDAOImpl.java
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/test/java/org/wso2/carbon/identity/cors/mgt/core/test/CORSManagementServiceTests.java
Owners: none

Revert "Revert "Fix postgresql and oracle issues""
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/main/java/org/wso2/carbon/identity/cors/mgt/core/constant/SQLQueries.java
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/main/java/org/wso2/carbon/identity/cors/mgt/core/constant/SchemaConstants.java
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/main/java/org/wso2/carbon/identity/cors/mgt/core/dao/impl/CORSOriginDAOImpl.java
  components/cors-mgt/org.wso2.carbon.identity.cors.mgt.core/src/test/java/org/wso2/carbon/identity/cors/mgt/core/test/CORSManagementServiceTests.java
Owners: none

Poting the fix to support oracle 12.1
  components/user-functionality-mgt/org.wso2.carbon.identity.user.functionality.mgt/src/main/java/org/wso2/carbon/identity/user/functionality/mgt/UserFunctionalityMgtConstants.java
  components/user-functionality-mgt/org.wso2.carbon.identity.user.functionality.mgt/src/main/java/org/wso2/carbon/identity/user/functionality/mgt/dao/impl/UserFunctionalityManagerDAOImpl.java
  components/user-functionality-mgt/org.wso2.carbon.identity.user.functionality.mgt/src/main/java/org/wso2/carbon/identity/user/functionality/mgt/dao/impl/UserFunctionalityPropertyDAOImpl.java
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/oracle.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/oracle_rac.sql
Owners: none

Remove unnecessary changes
  components/user-functionality-mgt/org.wso2.carbon.identity.user.functionality.mgt/src/main/java/org/wso2/carbon/identity/user/functionality/mgt/dao/impl/UserFunctionalityManagerDAOImpl.java
Owners: none

Block role creation with system_ prefix
  components/user-mgt/org.wso2.carbon.user.mgt/src/main/java/org/wso2/carbon/user/mgt/UserAdmin.java
Owners: @tharindu-bandara, @JKAUSHALYA, @madurangasiriwardena, @ashensw, @sarubi, @wijith7, @gayashanbc

Add events for self signup
  components/identity-event/org.wso2.carbon.identity.event/src/main/java/org/wso2/carbon/identity/event/IdentityEventConstants.java
Owners: @somindatommy, @IsuraD, @ayshsandu, @vihanga-liyanage, @GDRDABARERA, @NilukaSripalim, @ShanChathusanda93

Fix length issue
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/db2.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/h2.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/mssql.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/mysql-cluster.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/mysql.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/oracle.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/oracle_rac.sql
  features/identity-core/org.wso2.carbon.identity.core.server.feature/resources/dbscripts/postgresql.sql
Owners: none

CODEOWNERS:

# Code owners
/components/workflow-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-core @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-event @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/identity-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/captcha-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/configuration-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/notification-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/claim-mgt @somindatommy @IsuraD @ayshsandu @vihanga-liyanage @GDRDABARERA @NilukaSripalim @ShanChathusanda93
/components/entitlement/    @mefarazath @denuwanthi @emswbandara @janakamarasena @Buddhimah @dewniMW @aaujayasena
/components/policy-editor/    @mefarazath @denuwanthi @emswbandara @janakamarasena @Buddhimah @dewniMW @aaujayasena
/components/authentication-framework    @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/functions-library-mgt   @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/security-mgt @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/carbon-authenticators   @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/consent-mgt @pulasthi7 @DMHP @Kanapriya @Abilashini @senthalan @piraveena @thushaaanthan
/components/application-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/template-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/idp-mgt @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe
/components/directory-server-manager @thanujalk @omindu @nilasini @pamodaaw @sachiniWettasinghe @ShanikaWickramasinghe

# Codeowners for user components.
/components/user-mgt @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc
/components/user-store @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc
/components/provisioning @tharindu-bandara @JKAUSHALYA @madurangasiriwardena @ashensw @sarubi @wijith7 @gayashanbc
